
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: wavy 10px #dfe6a2;
    background-color: #a2cafe;
  }
.continue {
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
}
#button {
  padding: 10px;
  background-color: rgb(252, 209, 215);
  border: 5px black;
}