/* this css file will only style the homepage of our site */

.pic-of-me {
  margin: 10px;
  max-width: 500px;
}
.pic-of-my-art {
  margin: 10px;
  max-width: 500px;
}
.computerlove {
  margin:10px;
  max-width: 500px;
}
.fishyswim {
  margin: 10px;
  max-width: 500px;
}
.sanriolove {
  margin: 10px;
  max-width: 500px;
}
.myflex {
  display: flex 
}
.thrifitnglove {
  margin: 10px;
  max-width: 500px;
}