
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: groove 10px #dfe6a2;
    background-color: #a2cafe;
  }
#output {
    background-color: rgb(254, 242, 243);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: solid 3px black;
    min-height: 500px;
    max-width: 800px;
    font-size: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
  }
.buzzball {
  position: absolute;
  left: 0px;
  width: 300px;
  border: 3px solid #7b90c5;
  padding: 10px;
}
.entername {
  /* margin: 10px auto;
  padding: 10px auto; */
  margin: auto;
  display: block;
}
.input {
    padding: 10px;
    align-items: center;
  }
#button {
  background-color: paleturquoise;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}

