
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px #9bacff;
    background-color: #f9d7e4;
  }
.continue {
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
}
#button {
  padding: 10px;
  background-color: rgb(238, 237, 237);
  border: 5px rgb(48, 48, 48);
}