
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: groove 10px #4fa763;
    background-color: #6685bb;
  }

  #output {
    background-image: -webkit-image-set('https://cdn.pixabay.com/photo/2016/12/22/11/14/confetti-1925258_1280.png');
    background-size: contain;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid 3px black;
    min-height: 100px;
    max-width: 200px;
    text-align: center;
    font-size: 100px;
    text-align: center;
  }
  .pumpitup {
    margin: 10px;
    max-width: 500px;
  }
  .button {
    background-color: lightskyblue;
    border: solid 3px purple;
    padding: 10px;
    font-family: "Copperplate", fantasy;
    float: center;
  }
  .input {
    float: center;
    padding: 10px;
  }
