/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #874e7a;
    background-color: #ecb8f1;
  }
.oldweb {
  margin: 10px;
  max-width: 500px;
}
.lab00 {
  margin: 10px;
  max-width: 500px;
}
.lab01 {
  margin: 10px;
  max-width: 500px;
}
.lab02 {
  margin: 10px;
  max-width: 500px;
}
