
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: wavy 10px #dfe6a2;
    background-color: #a2cafe;
  }
.continue {
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
}

