
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 10px #7e9cec;
    background-color: #ecb9e3;
  }
.input {
    padding: 10px;
    align-items: center;
  }
#button {
  background-color: paleturquoise;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}
.buzzball {
  max-width: 300px;
  max-height: 300px;
}

