.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
img {
  max-width: 500px;
  max-height: 500px;
  width: auto; 
  height: auto;
  object-fit: contain;
}
