.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
img {
  max-width: 500px;
  max-height: 500px;
  width: auto; 
  height: auto;
  object-fit: contain;
}
.project-images {
  display: flex; /* Activates Flexbox */
  flex-wrap: wrap; /* Ensures items wrap to the next line if necessary */
  gap: 10px; /* Adds space between images */
  justify-content: space-between; /* Aligns items horizontally (center, start, end, space-between, etc.) */
  align-items: center; /* Aligns items vertically */
}
